.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.confirmation__message {
  font-family: 'Lato', sans-serif;
  color: #005555;
  font-size: 5.5rem;
}

.confirmation__img {
  font-size: 30rem;
  background: -webkit-linear-gradient(#f19c8e, #e33a1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.confirmation__review {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  width: 60%;
  padding: 5%;
  margin: 10% 0 5%;

  color: #45807E;
  border: 5px solid #45807E;
  background-color: #D4F3EF;
}

.confirmation__review:hover {
  color: #D4F3EF;
  background-color: #45807E;
}
