* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: #D4F3EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  background-color: #D4F3EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10rem 0 12rem;
}

main h2 {
  color: #000;
  font-family: 'Monoton', cursive;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 2;
  margin: 2%;
  text-align: center;
}

.jumbotron {
  padding: 45% 0;
}

.divisor {
  display: block;
  height: 0.1rem;
  background-color: #005555;
  margin: 1.2rem auto;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10%;
  height: 30%;
  width: 100%;
}

#login button {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  border-radius: 5px;
  width: 90%;
  padding: 5%;
  margin: 5%;
}

.secondary-btn {
  color: #45807E;
  border: 5px solid #45807E;
  background-color: #D4F3EF;
  /* background-color: #fff; */
}

.primary-btn {
  border: none;
  color: #f1f1f1;
  background-color: #EE8572;
}

/* Partials */
/* top-nav */
.top-nav {
  background-color: #45807E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 5% 5% 3%;
}

.top-nav__logo h1 {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 1%;
  /* -webkit-text-stroke: 1px #EE8572; */
}

.top-nav__links {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 40%;
  visibility: hidden;
}

.top-nav__links a {
  color: #f1f1f1;
  font-weight: 500;
}

.top-nav__links a:hover {
  color: #EE8572;
}

/* menu-bar */
.menu-bar {
  background-color: #45807E;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 3% 3% 2%;
  position: relative;
  margin: 0;
}

.menu-bar__item a {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar__btn {
  font-size: 3.5rem;
}

.menu-bar__label {
  font-size: 1.5rem;
  padding: 10% 0 0;
}

/* hamburger */
.top-nav__hamburger {
  width: 3rem;
  cursor: pointer;
  appearance: none;
  background: none;
  border: none;
  z-index: 4;
}

.top-nav__hamburger__bar, .top-nav__hamburger::before, .top-nav__hamburger::after {
  background-color: #f1f1f1;
  content: '';
  display: block;
  height: 0.3rem;
  width: 100%;
  margin: 20%;
  transition: 0.5s;
}

.top-nav__hamburger.active .top-nav__hamburger__bar {
  opacity: 0;
}

.top-nav__hamburger.active:before {
  transform: rotate(45deg) translate(0.75rem, 0.4rem);
}

.top-nav__hamburger.active:after {
  transform: rotate(-45deg) translate(0.7rem, -0.4rem);
}

.top-nav__hamburger__nav {
  background-color: #005555;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  width: 90%;
  height: 100vh;
  z-index: 3;
  transition: 0.5s;
  padding: 20% 5% 0 10%;
}

.top-nav__hamburger__nav i {
  font-size: 2.5rem;
  padding: 0 7%;
}

.top-nav__hamburger__nav a {
  color: #f1f1f1;
  font-size: 2em;
  margin: 0 0 15%;
}

.top-nav__hamburger__nav a:hover {
  color: #EE8572;
}

.top-nav__hamburger__nav.active {
  left: 30%;
}

/* Code grabbed from https://www.geeksforgeeks.org/how-to-rotate-a-text-360-degrees-on-hover-using-html-and-css/ */
h2:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
