* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: #D4F3EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

header, footer {
  width: 100%;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 3%;
  padding: 15% 0;
}

main h2 {
  color: #000;
  font-family: 'Monoton', cursive;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 2;
  margin: 2%;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10%;
  height: 30%;
  width: 100%;
}

#login button {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  border-radius: 5px;
  width: 90%;
  padding: 5%;
  margin: 5%;
}

.secondary-btn {
  color: #45807E;
  border: 5px solid #45807E;
  background-color: #D4F3EF;
  /* background-color: #fff; */
}

.primary-btn {
  border: none;
  color: #f1f1f1;
  background-color: #EE8572;
}

/* Partials */
/* top-nav */
.top-nav {
  background-color: #45807E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 5% 5% 3%;
}

.top-nav__logo h1 {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 1%;
  /* -webkit-text-stroke: 1px #EE8572; */
}

.top-nav__links {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 40%;
  visibility: hidden;
}

.top-nav__links a {
  color: #f1f1f1;
  font-weight: 500;
}

.top-nav__links a:hover {
  color: #EE8572;
}

/* menu-bar */
.menu-bar {
  background-color: #45807E;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 4% 3% 3%;
  position: relative;
}

.menu-bar__item a {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar__btn {
  font-size: 4.5rem;
}

.menu-bar__label {
  font-size: 1.5rem;
  padding: 10% 0 0;
}

/* hamburger */
.top-nav__hamburger {
  width: 3rem;
  cursor: pointer;
  appearance: none;
  background: none;
  border: none;
  z-index: 3;
}

.top-nav__hamburger__bar, .top-nav__hamburger::before, .top-nav__hamburger::after {
  background-color: #f1f1f1;
  content: '';
  display: block;
  height: 0.3rem;
  width: 100%;
  margin: 20%;
  transition: 0.5s;
}

.top-nav__hamburger.active .top-nav__hamburger__bar {
  opacity: 0;
}

.top-nav__hamburger.active:before {
  transform: rotate(45deg) translate(0.75rem, 0.4rem);
}

.top-nav__hamburger.active:after {
  transform: rotate(-45deg) translate(0.7rem, -0.4rem);
}

.top-nav__hamburger__nav {
  background-color: #005555;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  width: 90%;
  height: 100vh;
  z-index: 2;
  transition: 0.5s;
  padding: 20% 5% 0 10%;
}

.top-nav__hamburger__nav i {
  font-size: 2.5rem;
  padding: 0 7%;
}

.top-nav__hamburger__nav a {
  color: #f1f1f1;
  font-size: 2em;
  margin: 0 0 15%;
}

.top-nav__hamburger__nav a:hover {
  color: #EE8572;
}

.top-nav__hamburger__nav.active {
  left: 30%;
}

/* #footer {
background-color: aqua;
border: 5px solid rgb(0, 128, 128);
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
bottom: 0;
display: flex;
flex-direction: row;
height: 60px;
position: absolute;
width: 100%;
}

#header {
background-color: aqua;
border: 5px solid rgb(0, 128, 128);
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
top: 0;
display: flex;
flex-direction: row;
height: 60px;
position: absolute;
width: 100%;
}

#login {
padding-top: 40%;
text-align: center;
}

#login button {
background-color: rgb(0, 128, 128);
border: none;
border-radius: 5px;
display: inline-block;
font-size: 20px;
margin-bottom: 10%;
padding: 2% 10%;
transition-duration: 0.3s;
}

#login button:hover {
background-color: rgb(0, 64, 64);
color: white;
}

.outer {
  background-color: aqua;
  border: 10px solid rgb(0, 128, 128);
  border-radius: 20px;
  margin: 8px;
  margin-top: 10vh;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}


.fa-solid {
  font-size: 10vw;
  text-align: center;
  padding-top: 1vh;
  width: 20vw;
  } */
