.item {
  margin: 0 7%;
  width: 80%;
}

.item__title {
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

/* image */
#item_img {
  text-align: center;
}

#item_img img {
  width: 87%;
}

/* info */
#user_info a {
  color: #45807E;
  font-size: x-large;
}

#titleNDate,
#category {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#userNcategory {
  margin: 0px 10px
}

#category {
  color: #8b8f8f;
}

#detail {
  border: #b2b2b2 solid 2px;
  border-radius: 20px;
  padding: 15px;
}

#description {
  height: 90px;
  font-size: 20px;
}

/* buttons */
#buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: 70%;
}

#buttons button {
  padding: 1.5rem 3rem;
}

#trade_btn {
  background-color: #EE8572;
  border: none;
  color: #f1f1f1;
}

#chat_btn {
  border: none;
  color: #f1f1f1;
  background-color: #005555;
}

#edit_btn {
  border: none;
  color: #f1f1f1;
  background-color: #005555;
}
