.listings {
  width: 90%;
}

.listings__title {
  font-family: 'Lato', sans-serif;
  font-size: 3.5rem;
  color: #005555;
}

.listings__item {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  border: 0.2rem solid #005555;
  border-radius: 5px;
  display: flex;
  padding: 5%;
  margin: 5% 2%;
}

.listings__item__img {
  width: 90%;
  margin: 0 0 4%;
}

.listings__item__trader {
  color: #333;
  display: inline-block;
  margin: 0 0 2%;
}

.listings__item__date {
  color: #333;
  display: inline-block;
  float: right;
  margin: 0 0 2%;
}

.listings__item__description {
  color: #333;
  font-size: 1.2rem;
}
