input {
  background-color: #D4F3EF;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 2rem;
  outline: none;
  width: 100%;
  padding: 5%;
}

input:focus {
  border-bottom: 0.2rem solid #111;
}

label {
  color: #555;
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

.login-form__table__row {
  padding: 5% 0 7%;
  width: 100%;
}

#invalid-login {
    color: red;
    font-size: 1.5rem;
}

#login-form {
  width: 70%;
}


/* label, input {
    display: table-cell;
}

#login-form {
    margin: 0 auto;
    text-align: center;
}

#login-table {
    display: table;
    padding-top: 40%;
}

.t-row {
    display: table-row;
} */
