/* label, input {
    display: table-cell;
}

#login-form {
    margin: 0 auto;
    text-align: center;
}

#login-table {
    display: table;
    padding-top: 40%;
}

.t-row {
    display: table-row;
} */
