* {
  box-sizing: border-box;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  width: 80%;
}

.carousel__item {
  color: #f1f1f1;
  background-color: #EE8572;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  height: 40%;
  padding: 10%;
}
