/* Template, Can be changed */

body {
    margin: 0;
}

h2 {
    padding-top: 20%;
    text-align: center;
}

#footer {
    background-color: aqua;
    border: 5px solid rgb(0, 128, 128);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 60px;
    position: absolute;
    width: 100%;
}

#header {
    background-color: aqua;
    border: 5px solid rgb(0, 128, 128);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 60px;
    position: absolute;
    width: 100%;
}


.footeritme {
    font-size: 10vw;
    text-align: center;
    padding-top: 1vh;
    width: 20vw;
}

/* main */
main {
    margin: 80px 40px;
}

/* user info section */
.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 20px;
    background-color: rgb(199, 197, 197);
    border-radius: 10px;
}

#profilePic {
    font-size: 25vw;
    text-align: center;
}

#profilePicture {
    text-align: center;
}

/* search location */


/* search end */


/* buttons */
#history_buttons {
    margin-top: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-content: space-around
}