/* user info section */
.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 20px;
    border: 3px solid rgba(95, 128, 127, 0.478);
    border-radius: 10px;
}

#profilePic {
    font-size: 25vw;
    text-align: center;
}

#profilePicture {
    text-align: center;
}

#edit_btn {
    width: 65px;
    color: #45807E;
    border: 3px solid #45807E;
    background-color: #D4F3EF;
}

#save_btn {
    width: 65px;
    border: none;
    color: #f1f1f1;
    background-color: #EE8572;
}

/* account section */
.account {
  margin: 4% auto;
  width: 90%;
}

.account__delete {
  display: flex;
  flex-direction: column;
}

.account__delete button {
  background-color: rgba(95, 128, 127, 0.478);
  border: none;
  margin: 2% 0 0 auto;
  width: 25%;
}
