h2 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-weight: bold;
}
img {
    width: 60%;
}

.content {
  width: 95%;
}

#TradeItem {
    margin-bottom: 50px;
}

#choseItem {
    display: flex;
    justify-content: space-between;
    background: white;
    border: 0.2rem solid #005555;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
}

#tradeItemName, #traderName {
    padding-left: 10%;
}

.offerCard {
    display: flex;
    justify-content: space-between;
    background: white;
    border: 0.2rem solid #005555;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
}

.SendOffer {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    background-color: #005555;
    border: none;
    border-radius: 3px;
    color: #f1f1f1;
    padding: 1rem 1.5rem;
  }
