#content {
    padding: 10rem 0 12rem;
}

#OfferContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 10px;
}

.TradeOffer {
    background: white;
    border: 0.2rem solid #005555;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TradeOfferer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    color: black;
}

.OffererPicture, .OffereePicture {
    width: 60px;
    border-radius: 60px;
    margin: 0 20px;
}
.OfferDetails {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.OfferDetails a {
    color: black;
}

.OfferItem, .ForItem {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.OfferItem h4, .ForItem h4{
    margin: 20px 0 0 20px;
}


.ForItem img, .OfferItem img {
    width: 30%;
    border-radius: 20px;
}

.TradeActions {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aButton {
    border: none;
    color: #f1f1f1;
    background-color: #005555;
}

.dButton {
    background-color: #EE8572;
    border: none;
    color: #f1f1f1;
}
