<div class="bottom-nav">
  <ul class="menu-bar">
    <li class="menu-bar__item">
      <a href="./">
        <i class="menu-bar__btn material-icons">other_houses</i>
        <span class="menu-bar__label">Home</span>
      </a>
    </li>
    <li class="menu-bar__item">
      <a href="/listings">
        <i class="menu-bar__btn material-icons">find_replace</i>
        <span class="menu-bar__label">Search</span>
      </a>
    </li>
    <li class="menu-bar__item">
      <a href="#">
        <i class="menu-bar__btn material-icons">add_circle</i>
        <span class="menu-bar__label">Post</span>
      </a>
    </li>
    <li class="menu-bar__item">
      <a href="/chat/">
        <i class="menu-bar__btn material-icons">textsms</i>
        <span class="menu-bar__label">Chat</span>
      </a>
    </li>
    <li class="menu-bar__item">
      <a href="/profile">
        <i class="menu-bar__btn material-icons">portrait</i>
        <span class="menu-bar__label">Account</span>
      </a>
    </li>
  </ul>
</div>
