<div class="top-nav">
  <a class="top-nav__logo" href="./">
    <h1>SwapOmen</h1>
  </a>
  <nav class="top-nav__links">
    <a href="#">Settings</a>
    <a href="#">Contact</a>
    <a href="#">Help</a>
  </nav>
  <button class="top-nav__hamburger">
    <div class="top-nav__hamburger__bar"></div>
  </button>
</div>
<div class="top-nav__hamburger__nav">
  <a href="#"><i class="material-icons">settings</i>Settings</a>
  <a href="#"><i class="material-icons">email</i>Contact</a>
  <a href="#"><i class="material-icons">contact_support</i>Help</a>
  <a href="#" onclick="logoutUser()"><i class="material-icons">person</i>Log out</a>
</div>
